@use "./Style/Variable.scss" as *;

@import url(./Style/Nav.scss);
@import url(./Style/Acceuil.scss);
@import url(./Style/caroussel.scss);
@import url(./Style/loggin.scss);
@import url(./Style/loggin_account.scss);
@import url(./Style/promenade.scss);

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-LM;
}

p {
  font-family: $font-roboto;
}
