@font-face {
  font-family: "Lemon-Milk";
  src: url(../assets/Font/lemon_milk/LEMONMILK-Regular.otf);
}
@font-face {
  font-family: "Roboto";
  src: url(../assets/Font/roboto/Roboto-Regular.ttf);
}

$color-gold: #ffbf00;
$color-blue: #273bf0;
$font-LM: "Lemon-Milk";
$font-roboto: "Roboto";
